[Desktop Entry]
Name=Hyprpwcenter
Comment=A GUI Pipewire control center 
Exec=hyprpwcenter
Icon=audio-speakers
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;Settings;
Keywords=hyprpwcenter;Pipewire;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;